[submodule "subprojects/rodos"]
	path = subprojects/rodos
	url = https://gitlab.com/rodos/rodos.git
[submodule "subprojects/tiny-AES-c"]
	path = subprojects/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
